exportClasses(RClustergrammer, ClusteringTools)

exportMethods(
   getMatrix,
   getRowMetadata,
   getColumnMetadata,
   clusterAndDisplay,
   getRowNames,
   getColumnNames,
   selectRows,
   selectColumns,
   selectRowsAndColumns,
   showAll,
   ping
   )

export(
   RClustergrammer,
   ClusteringTools
   )


importClassesFrom(methods, character, integer)

import(BiocGenerics)
importFrom(jsonlite,fromJSON)
importFrom(methods, new)
importFrom(methods, as)
import(BrowserViz)
import(httpuv)
import(Rcpp)
importFrom(base64enc,base64decode)
