exportClasses(RClustergrammer, ClusteringTools)

exportMethods(
   ping,
   displayHeatmap,
   hierarchicalCluster
   )

export(
   RClustergrammer,
   ClusteringTools
   )


importClassesFrom(methods, character, integer)

import(BiocGenerics)
importFrom(jsonlite,fromJSON)
importFrom(methods, new)
importFrom(methods, as)
import(BrowserViz)
import(httpuv)
import(Rcpp)
importFrom(base64enc,base64decode)
