exportClasses(RClustergrammer, ClusteringTools)

exportMethods(
   setMatrix,
   setRowMetadata,
   setColumnMetadata,
   getMatrix,
   getRowMetadata,
   getColumnMetadata,
   clusterAndDisplay,
   ping
   )

export(
   RClustergrammer,
   ClusteringTools
   )


importClassesFrom(methods, character, integer)

import(BiocGenerics)
importFrom(jsonlite,fromJSON)
importFrom(methods, new)
importFrom(methods, as)
import(BrowserViz)
import(httpuv)
import(Rcpp)
importFrom(base64enc,base64decode)
